body {
    background-color: #F8F9FA;
}


#kontak {
    background-color:blue;
    border-radius: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#portofolio {
    border-radius: 0;
    border-color: green;
    color: green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
